.img{
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  /* min-width: 100%; 12/16 remove this one.*/
  height: 100vh; /*12/16 add these two lines.*/
  width: 100vw;
  /* min-height: 100%; */
  /* max-width: 100%; */
  max-height: auto;
  /* max-height: 95%; */
  z-index:-5;
  /* background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;     */
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

@media (orientation: landscape) { /* これらの2つのセクションを組み合わせることができます。*/
  body {
    flex-direction: row;
  }
  .img {
    /* width:auto; */
    min-height: 100%
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
  .img {
    width:100%;
    min-height: 100%
  }
}


/* .item{
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
} */

.myFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.myFooterP{
  color: white;
  /* position: relative;
  margin-left: auto;
  margin-right: auto; */
  text-align: center;
  padding-bottom: 20px;
}

.footerA {
  margin-left: 2em;
}
.footerA:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.footerA:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.footerA:hover {
  color: #095484;
  background-color: transparent;
  text-decoration: underline;
}


.xpickgradient {
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.XdivGradient{
  background-image:
linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73));
}

.Xdivtest{
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
